.position-relative {
    width: 50%;
}

#search-input-patho {
    width: 32% !important;
}

#suggestionsBox {
    position: absolute;
    width: 100%;
}

.input-group .select-symptome {
    width: 35% !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}
