body {
    background-image: url('../images/blue.jpg');
    background-size: 100%;
    height: 100%;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 90px;
    font-weight: bold;
    margin-top: 50px;
}

.filter-active {
    color: #000000;
}

.mb-3 {
    margin-bottom: 1rem;
    color: #000000;
    font-weight: bold;
}

.btn {
    background-color: #1e1e1e94; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 14px; /* Espacement intérieur */
    margin: 8px 0; /* Marge */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur en forme de main */
    width: 100%; /* Largeur */
    border-radius: 10px; /* Ajustez cette valeur selon vos préférences */
}

.btn:hover {
    opacity: 0.8; /* Transparence au survol */
}

/* CSS pour modifier l'apparence du texte */
h1, p {
    color: #333; /* Couleur du texte */
    font-family: Arial, sans-serif; /* Police de caractères */
}

/* CSS pour modifier l'apparence des tableaux */
.table {
    width: 100%; /* Largeur */
    max-width: 100%; /* Largeur maximale */
    margin-bottom: 1rem; /* Marge inférieure */
}

.table th,
.table td {
    padding: 0.75rem; /* Espacement intérieur */
    vertical-align: top; /* Alignement vertical */
    border-top: 1px solid #dee2e6; /* Bordure supérieure */
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    margin-right: 10px;
}

.form-select {
    margin-right: 10px;
}