<nav id="footer" class="navbar navbar-expand {{navbarColor}} mt-3">
    <div class="collapse navbar-collapse d-flex justify-content-center item-center">
        <p>
            2024 - site réalisé par: BALLEUR, ESMILAIRE, DONIKIAN, DI-MEO
        </p>
    </div>
</nav>
