<nav id="navbar" class="navbar navbar-expand {{ navbarColor }}">
    <a class="navbar-brand ps-3" href="../index.php">
        <img src="../public/images/logo.webp" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>

    <div class="collapse navbar-collapse d-flex">
        <ul class="navbar-nav">
            {% if currentPage != 'index' %}
                <li class="nav-item active">
                    <a class="nav-link" href="../index.php">Accueil</a>
                </li>
            {% endif %}

            {% if currentPage != 'patho' %}
                <li class="nav-item active">
                    <a class="nav-link" href="../controllers/pathologie.php">Pathologies</a>
                </li>
            {% endif %}

            {% if currentPage != 'sympto' %}
                <li class="nav-item active">
                    <a class="nav-link" href="../controllers/symptome.php">Symptômes</a>
                </li>
            {% endif %}

            {% if currentPage != 'rdv' %}
                <li class="nav-item active">
                    <a class="nav-link" href="../controllers/rendez-vous.php">Prendre rendez-vous</a>
                </li>
            {% endif %}
        </ul>

        {% if currentPage != 'authentification' %}
            <ul class="navbar-nav ms-auto pe-3">
                <li class="nav-item active">
                    <a class="nav-link" href="../controllers/authentification.php">Authentification</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
