{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block description %}Accueil{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>Titre de la page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>

        <img src="../public/images/scene.webp" alt="Description de l'image" width="1194" height="682" class="mx-auto d-block">
    </div>
{% endblock %}
