{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block description %}Accueil{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-12 mb-5">
                <h1><b>L'acupuncture traditionnelle</b></h1>
                <p>L'acupuncture traditionnelle est une pratique issue de la Médecine Traditionnelle Chinoise, appelée également Energétique Traditionnelle Chinoise, qui consiste à stimuler certains points spécifiques du corps appelés points d'acupuncture, afin de soulager ou prévenir certains troubles. C'est une méthode employée depuis des millénaires qui peut soulager certains maux au quotidien. Elle permettrait de rétablir l'équilibre intérieur du corps.</p>
            </div>

            <div class="col-md-6 mb-5">
                <h2><i>L'acupuncture, au cœur de la philosophie taoïste</i></h2>
                <p>L'acupuncture est une pratique traditionnelle qui se base sur une perception énergétique taoïste de l'Homme et sa relation à l'univers. Le terme acupuncture vient des jésuites du XVIe siècle, suite à la découverte de la Médecine Traditionnelle Chinoise. Son nom original est Zhen Jiu, signifiant “art des aiguilles de métal”. L'acupuncture est une discipline taoïste.  La philosophie taoiste est une façon de vivre, c'est la philosophie de base des principes des médecines chinoise et notamment de l'acupuncture.</p>
            </div>

            <div class="col-md-6 mb-5">
                <img src="../public/images/scene.webp" alt="Description de l'image" class="img-fluid">
            </div>

            <div class="col-md-6 mb-5">
                <img src="../public/images/human_2.webp" alt="Description de l'image" class="img-fluid">
            </div>
            
            <div class="col-md-6 mb-5">
                <h2><i>Une pratique fondée sur l'énergie vitale</i></h2>
                <p>Selon la Médecine Traditionnelle Chinoise, qui est une discipline holistique, les maladies seraient causées par un déséquilibre énergétique. La stimulation de points spécifiques vise donc à rétablir la circulation de l'énergie vitale (QI). L'énergie vitale est composée du Yin et du Yang. Si ces deux composantes ne sont pas présentes à part égale dans le corps, cela crée un déséquilibre énergétique à l'origine de l'apparition de maladies ou de troubles. La circulation de cette énergie se fait le long de méridiens. Il existe 12 méridiens principaux et 8 méridiens "extraordinaires". L'acupuncture va donc consister à stimuler les points situés sur les méridiens afin de rétablir une circulation normale de l'énergie vitale. Cette stimulation se fait généralement à l'aide d'aiguilles, mais elle peut également être pratiquée à l'aide de ventouses, d'aimants, de bâtonnets d'armoise, d'électricité (acupuncture électrique) ou de laser. La moxibustion est également une technique largement utilisée en acupuncture, celle-ci consiste à stimuler des points à l'aide de la chaleur.</p>
            </div>

            

        </div>

    </div>
{% endblock %}
