{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block description %}Accueil{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-12 mb-5">
                <h1><b>L'acupuncture traditionnelle</b></h1>
                <p class="lead">L'acupuncture traditionnelle est une pratique issue de la Médecine Traditionnelle Chinoise, appelée également Energétique Traditionnelle Chinoise, qui consiste à stimuler certains points spécifiques du corps appelés points d'acupuncture, afin de soulager ou prévenir certains troubles. C'est une méthode employée depuis des millénaires qui peut soulager certains maux au quotidien. Elle permettrait de rétablir l'équilibre intérieur du corps.</p>
            </div>

            <div class="col-md-6 mb-5 bg-white rounded p-3">
                <h2 class="mb-4"><i>L'acupuncture, au cœur de la philosophie taoïste</i></h2>
                <p class="small-lead">L'acupuncture est une pratique traditionnelle qui se base sur une perception énergétique taoïste de l'Homme et sa relation à l'univers. Le terme acupuncture vient des jésuites du XVIe siècle, suite à la découverte de la Médecine Traditionnelle Chinoise. Son nom original est Zhen Jiu, signifiant “art des aiguilles de métal”. L'acupuncture est une discipline taoïste.  La philosophie taoiste est une façon de vivre, c'est la philosophie de base des principes des médecines chinoise et notamment de l'acupuncture.</p>
            </div>

            <div class="col-md-6 mb-5">
                <img src="../public/images/scene.webp" alt="Description de l'image" class="img-fluid rounded">
            </div>

            <div class="col-md-6 mb-5">
                <img src="../public/images/human_2.webp" alt="Description de l'image" class="img-fluid rounded">
            </div>
            
            <div class="col-md-6 mb-5 bg-white rounded p-3">
                <h2 class="mb-4"><i>Une pratique fondée sur l'énergie vitale</i></h2>
                <p class="small-lead">La Médecine Traditionnelle Chinoise interprète les maladies comme des déséquilibres énergétiques. L'acupuncture, en stimulant des points spécifiques, vise à rétablir l'équilibre du Yin et du Yang, essentiels pour une bonne santé. Cette stimulation, souvent réalisée par des aiguilles, se fait le long de 12 méridiens principaux et 8 "extraordinaires", qui sont des canaux d'énergie dans le corps. La moxibustion, qui utilise la chaleur pour stimuler ces points, est aussi une technique courante en acupuncture, augmentant l'efficacité du traitement.</p>
            </div>

            

        </div>

    </div>
    <link rel="stylesheet" href="../public/styles/index.css">
{% endblock %}
